.component-32-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.overlap-group5-1 {
  align-self: flex-end;
  height: 236px;
  position: relative;
  width: 339px;
}

.group-2717 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-top: 15px;
  min-width: 339px;
}

.group-2715 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 42px;
  position: relative;
  width: 80px;
}

.group-2714 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 24px;
  width: 42px;
}

.breakfast {
  letter-spacing: 0;
  line-height: 8px;
  min-height: 12px;
  width: 44px;
}

.group-2713 {
  align-items: flex-end;
  display: flex;
  height: 10px;
  margin-top: 2px;
  min-width: 37px;
}

.overlap-group6 {
  height: 11px;
  margin-bottom: -1.0px;
  position: relative;
  width: 39px;
}

.x15g-co {
  height: 11px;
  left: 0;
  letter-spacing: 0;
  line-height: 7px;
  position: absolute;
  top: 0;
  width: 28px;
}

.group-2546 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 49px;
  min-height: 41px;
  position: relative;
  width: 80px;
}

.group-2701 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 4px;
  min-width: 80px;
  padding: 0 0.5px;
}

.rectangle-566 {
  background-color: var(--macaroni-cheese);
  border-radius: 30px;
  height: 14px;
  width: 46px;
}

.group-2707 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 41px;
  position: relative;
  width: 80px;
}

.group-2706 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2.0px;
  min-height: 24px;
  position: relative;
  width: 30px;
}

.lunch {
  letter-spacing: 0;
  line-height: 8px;
  margin-left: 0;
  min-height: 12px;
  width: 30px;
}

.rectangle-2365 {
  background-color: var(--white);
  border-radius: 5px;
  height: 10px;
  margin-top: 194px;
  width: 83px;
}

