.component-132-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 26px;
  position: absolute;
  top: 25px;
  width: 360px;
}

.group-2746 {
  align-items: center;
  display: flex;
  height: 15px;
  min-width: 360px;
  position: relative;
}

.group-2747 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 6.0px;
  margin-top: 40px;
  min-height: 320px;
  width: 320px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 2px;
  min-width: 311px;
}

.overlap-group3-4 {
  height: 44px;
  position: relative;
  width: 81px;
}

.name {
  color: var(--dove-gray);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.number-10 {
  color: var(--dove-gray);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xxxl);
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.group-154 {
  align-items: flex-end;
  display: flex;
  margin-left: 182px;
  margin-top: 6.5px;
  min-width: 48px;
}

.group-153 {
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  margin-bottom: 0;
  width: 9px;
}

.group-152 {
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  margin-bottom: 0;
  margin-left: 31px;
  width: 8px;
}

.overlap-group4-4 {
  height: 27px;
  margin-left: 1.5px;
  margin-top: 22px;
  position: relative;
  width: 319px;
}

.line-16 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 319px;
}

.price {
  left: 2px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.m {
  left: 49px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.t {
  left: 101px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.w {
  left: 148px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.t-1 {
  left: 203px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.f {
  left: 250px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.price-1 {
  left: 298px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 214px;
  margin-top: 14px;
  min-width: 316px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 214px;
  width: 20px;
}

.number-5 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 1px;
  min-height: 22px;
  opacity: 0.3;
  white-space: nowrap;
}

.number-6 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 16px;
  min-height: 22px;
  white-space: nowrap;
}

.number-7 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 17px;
  min-height: 22px;
  white-space: nowrap;
}

.number-8 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 16px;
  min-height: 22px;
  opacity: 0.3;
  white-space: nowrap;
}

.flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 214px;
  width: 31px;
}

.number-11 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 22px;
  min-width: 20px;
  opacity: 0.3;
  white-space: nowrap;
}

.overlap-group5-3 {
  align-items: flex-end;
  background-color: var(--caribbean-green-pearl-32);
  border-radius: 13.5px;
  display: flex;
  height: 27px;
  justify-content: flex-end;
  margin-right: 3.75px;
  margin-top: 11px;
  min-width: 27px;
  padding: 0 6.2px;
}

.number-12 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  min-height: 22px;
  min-width: 11px;
  white-space: nowrap;
}

.number-13 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4.75px;
  margin-top: 17px;
  min-height: 22px;
  min-width: 16px;
  white-space: nowrap;
}

.number-14 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8.75px;
  margin-top: 16px;
  min-height: 22px;
  min-width: 20px;
  white-space: nowrap;
}

.number-15 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8.75px;
  margin-top: 17px;
  min-height: 22px;
  min-width: 20px;
  white-space: nowrap;
}

.number-16 {
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 1.25px;
  margin-top: 16px;
  min-height: 22px;
  min-width: 10px;
  opacity: 0.3;
  white-space: nowrap;
}

.flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 214px;
  width: 20px;
}

.number-17 {
  color: #737676;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 17px;
  min-height: 22px;
  white-space: nowrap;
}

.flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  min-height: 214px;
  width: 19px;
}

.number-9 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 1px;
  min-height: 22px;
  white-space: nowrap;
}

.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  min-height: 214px;
  width: 20px;
}

.flex-col-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  min-height: 214px;
  width: 22px;
}

.flex-col-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  min-height: 214px;
  width: 20px;
}

.number-18 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 17px;
  min-height: 22px;
  opacity: 0.3;
  white-space: nowrap;
}

