.group-2661 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 24px;
  position: absolute;
  top: 505px;
  width: 370px;
}

.overlap-group15 {
  align-items: center;
  background-color: var(--ottoman-22);
  border-radius: 33px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  min-width: 366px;
  padding: 4.5px 20px;
  position: relative;
}

.rectangle-236 {
  height: 40px;
  margin-bottom: 4.0px;
  object-fit: cover;
  width: 40px;
}

.flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 40px;
  width: 69px;
}

.trouble-zone {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 20px;
  min-width: 69px;
  white-space: nowrap;
}

.x5-min-6-exercises {
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 5.0px;
  margin-top: 4px;
  min-height: 16px;
  min-width: 26px;
  white-space: nowrap;
}

.overlap-group14 {
  align-items: center;
  background-color: var(--ottoman2);
  border-radius: 33px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  margin-top: 20px;
  min-width: 366px;
  padding: 2.5px 20px;
  position: relative;
}

.rectangle-2368 {
  height: 40px;
  margin-top: 2.0px;
  object-fit: cover;
  width: 40px;
}

.flex-col-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  min-height: 48px;
  width: 42px;
}

.trouble-zone-1 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 20px;
  min-width: 42px;
  white-space: nowrap;
}

.x5-min-6-exercises-1 {
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 6.0px;
  margin-top: 12px;
  min-height: 16px;
  min-width: 26px;
  white-space: nowrap;
}

.overlap-group13 {
  align-items: center;
  background-color: var(--ottoman-222);
  border-radius: 33px;
  display: flex;
  height: 70px;
  margin-left: 4px;
  margin-top: 22px;
  min-width: 366px;
  padding: 2.5px 21px;
  position: relative;
}

.flex-col-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 54px;
  width: 46px;
}

.trouble-zone-2 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 20px;
  min-width: 46px;
  white-space: nowrap;
}

.x5-min-6-exercises-2 {
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 7.0px;
  margin-top: 18px;
  min-height: 16px;
  min-width: 25px;
  white-space: nowrap;
}

.overlap-group12 {
  align-items: center;
  background-color: var(--ottoman-4);
  border-radius: 33px;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  margin-top: 15px;
  min-width: 366px;
  padding: 4.5px 20.0px;
  position: relative;
}

.rectangle-2370 {
  height: 40px;
  margin-top: 4.0px;
  object-fit: cover;
  width: 40px;
}

.flex-col-3 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 48px;
  width: 41px;
}

.trouble-zone-3 {
  letter-spacing: 0;
  line-height: 14px;
  min-height: 20px;
  min-width: 41px;
  white-space: nowrap;
}

.x5-min-6-exercises-3 {
  letter-spacing: 0;
  line-height: 11px;
  margin-right: 2px;
  margin-top: 12px;
  min-height: 16px;
  min-width: 32px;
  white-space: nowrap;
}

