.group-2734 {
  align-items: flex-start;
  display: flex;
  margin-top: 1.0px;
  min-width: 188px;
}

.overlap-group1-1 {
  height: 193px;
  position: relative;
  width: 188px;
}

.fruits-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

