.group-2704 {
  align-items: flex-end;
  display: flex;
  height: 9px;
  left: 23px;
  position: absolute;
  top: 1px;
}

.overlap-group7-1 {
  height: 11px;
  margin-bottom: -2px;
  position: relative;
  width: 16px;
}

.number {
  left: 0;
  letter-spacing: 0;
  line-height: 4px;
  position: absolute;
  top: 4px;
  width: 7px;
}

.e {
  left: 2px;
  letter-spacing: 0;
  line-height: 7px;
  position: absolute;
  top: 0;
  width: 14px;
}

