.dates {
  background-color: var(--white);
  height: 1382px;
  overflow: hidden;
  position: relative;
  width: 414px;
}

.overlap-group {
  height: 1382px;
  left: -2px;
  position: absolute;
  top: 0;
  width: 438px;
}

.group-2620 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 2px;
  position: absolute;
  top: 0;
  width: 416px;
}

.overlap-group2 {
  height: 72px;
  margin-left: 1px;
  position: relative;
  width: 414px;
}

.font-awsome-bars {
  height: 24px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 27px;
}

.overlap-group1 {
  height: 1133px;
  margin-top: 41px;
  position: relative;
  width: 416px;
}

.path-11544 {
  height: 1382px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 416px;
}

.group-2748 {
  align-items: center;
  display: flex;
  height: 18px;
  left: 158px;
  position: absolute;
  top: 227px;
}

.wifi {
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  width: 18px;
}

.text-3 {
  align-self: flex-end;
  color: var(--caribbean-green-pearl-32);
  font-family: var(--font-family-roboto);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15.6px;
  margin-bottom: -3.2px;
  margin-left: 9px;
  min-height: 20px;
  min-width: 34px;
  white-space: nowrap;
}

.group-2745 {
  align-items: center;
  display: flex;
  height: 18px;
  left: 309px;
  position: absolute;
  top: 4px;
}

.text-4 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 15.6px;
  margin-bottom: -3.2px;
  margin-left: 9px;
  min-height: 20px;
  min-width: 34px;
  white-space: nowrap;
}

