.group-2727 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/611fdac8a506a1017c382f98/releases/611fdd1afc0af3fcbb2108e6/img/rectangle-2308-21@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 193px;
  margin-left: 58px;
  margin-top: 1.0px;
  min-width: 196px;
  padding: 2.5px 0;
}

.vegetable-1 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 25px;
  white-space: nowrap;
}

