.group-2731 {
  align-items: flex-end;
  display: flex;
  height: 196px;
  margin-left: 58px;
  min-width: 196px;
}

.overlap-group4-3 {
  height: 194px;
  position: relative;
  width: 196px;
}

.rectangle-2308 {
  height: 193px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 196px;
}

.drink-2 {
  left: 1px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

