.component-96-1 {
  align-items: flex-end;
  display: flex;
  height: 15px;
  left: 136px;
  position: absolute;
  top: 75px;
}

.overlap-group9 {
  height: 17px;
  margin-bottom: -2px;
  position: relative;
  width: 68px;
}

.x650g-co {
  height: 9px;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 64px;
}

.number-3 {
  left: 49px;
  letter-spacing: 0;
  line-height: 7px;
  position: absolute;
  top: 7px;
  width: 7px;
}

.e-3 {
  left: 54px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 0;
  width: 14px;
}

