.group-2705 {
  align-items: flex-end;
  display: flex;
  height: 10px;
  margin-top: 2px;
  min-width: 29px;
}

.overlap-group6-3 {
  height: 12px;
  margin-bottom: -2.0px;
  position: relative;
  width: 30px;
}

.group-2703 {
  align-items: flex-end;
  display: flex;
  height: 9px;
  left: 0;
  position: absolute;
  top: 0;
}

.overlap-group7-2 {
  height: 11px;
  margin-bottom: -2px;
  position: relative;
  width: 30px;
}

.x60g-co {
  left: 0;
  letter-spacing: 0;
  line-height: 7px;
  opacity: 0.69;
  position: absolute;
  top: 0;
  width: 26px;
}

.e-2 {
  left: 24px;
  letter-spacing: -0.07px;
  line-height: 7px;
  position: absolute;
  text-align: right;
  top: 2px;
  white-space: nowrap;
}

.number-2 {
  left: 22px;
  letter-spacing: 0;
  line-height: 4px;
  position: absolute;
  top: 4px;
  width: 7px;
}

