.component-104-2 {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 44px;
  position: absolute;
  top: 86px;
}

.group-2658 {
  align-items: flex-end;
  background-color: var(--celadon);
  border-radius: 8px;
  display: flex;
  height: 15px;
  justify-content: flex-end;
  min-width: 60px;
  padding: 0 18px;
}

.surname {
  letter-spacing: 0;
  line-height: 11px;
  margin-bottom: -1px;
  min-height: 15px;
  min-width: 22px;
  white-space: nowrap;
}

.group-2659 {
  align-items: flex-end;
  background-color: var(--celadon);
  border-radius: 8px;
  display: flex;
  height: 15px;
  justify-content: flex-end;
  margin-left: 75px;
  min-width: 60px;
  padding: 0 13px;
}

.week {
  letter-spacing: 0;
  line-height: 11px;
  margin-bottom: -1px;
  min-height: 15px;
  min-width: 31px;
  white-space: nowrap;
}

.group-2660 {
  align-items: flex-end;
  background-color: var(--caribbean-green-pearl);
  border-radius: 8px;
  display: flex;
  height: 15px;
  justify-content: flex-end;
  margin-left: 75px;
  min-width: 60px;
  padding: 0 11px;
}

.month {
  letter-spacing: 0;
  line-height: 11px;
  margin-bottom: -1px;
  min-height: 15px;
  min-width: 35px;
  white-space: nowrap;
}

